<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <script src="https://kit.fontawesome.com/88e3276c80.js" crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
  <link rel="stylesheet" href="/css/styles.css">
  <title>Gym Log</title>
</head>
<body>
  <header>
    <div class="topRow">
      <h1>
        <%= heading %>

      </h1>
    </div>
    <div class="menu">
      <a href="/">SUMMARY</a>
      <a href="/exercise">EXERCISE</a>
      <a href="/more">MORE</a>
    </div>
  </header>

  <div class="addTopRow">

  <%  const now = new Date(); %>
  <%  const options = {year: "numeric", month: "long", day: "numeric"}; %>
  <%  const todaysDate = now.toLocaleDateString('en-GB', options); %>


    <p> <%= todaysDate %> </p>

    <p> <%= now.getHours() %>:<%= now.getMinutes() %>  </p>
  </div>
  <hr>


  <form action="bodyweight" method="post">
    <div class="addReps">
      <div class="reps">
        <input type="number" name="bodyWeight" placeholder="BODY WEIGHT" id="bodyWeight" min="1" required>
        <div class="buttons">
          <button type="button" name="button" class="smallBtn" id="addWeight">+</button>
          <button type="button" name="button" class="smallBtn" id="subWeight">-</button>
        </div>
      </div>

      <button type="submit" name="bodyWeightBtn" class="largeBtn" id="addLargeBtn" value="<%= heading %>">+</button>

    </div>
  </form>
  <hr>

  <!-- Chart
-------------------------------------------------------->
  <div class="container">
    <canvas id="myChart"></canvas>
  </div>


  <!-- Script
-------------------------------------------------------->

  <script>

  // Form
  //////////////////////////////////////////////////////
  const weight = document.getElementById("bodyWeight");
  const addWeightBtn = document.getElementById("addWeight");
  const subWeightBtn = document.getElementById("subWeight");

  addWeightBtn.addEventListener('click',function (event) {
    weight.value = (parseInt(weight.value,10) + 1) || 0;
  });

  subWeightBtn.addEventListener('click',function (event) {
    weight.value = (parseInt(weight.value,10) - 1) || 0;
  });

  // Chart
  //////////////////////////////////////////////////////

  let bodyWeightDataString = "<%= bodyWeightData %>";

  let bodyWeightDataArray = bodyWeightDataString.split(",");

  let dateOfbodyWeightDataString = "<%= arrayOfDates %>";


  let dateOfbodyWeightDataArray = dateOfbodyWeightDataString.split(",");

  let shortDateOfbodyWeightDataArray = [];

  dateOfbodyWeightDataArray.forEach(function (obj) {
    shortDateOfbodyWeightDataArray.push(obj.slice(3, 15))
  })

    let myChart = document.getElementById('myChart').getContext('2d');

    let weightChart = new Chart(myChart, {
      //type of chart
      type: 'line',

      //the data
      data: {
        labels: shortDateOfbodyWeightDataArray,
        datasets: [ {
          label: 'Body Weight',
          data: bodyWeightDataArray
        }]
      },

      //options here
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    })
  </script>

</body>
</html>
